// styles/global.scss
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.container {
  padding: 0 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  
  &:hover {
    color: var(--primary-dark);
  }
}